@import 'src/styles/variables.module.scss';

.mainWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 3.5rem;
  gap: 42px;

  .debitCardsWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 72px;
    width: 799px;
    height: 608px;
    margin-top: -6px;

    .title {
      font-weight: $bold;
      font-size: 2rem;
      color: $grayDark_6;
    }

    .cardBlockWrapper {
      display: flex;
      flex-direction: column;
      gap: 72px;

      .cardBlock {
        list-style-type: none;
      }
    }
  }
}
