@import 'src/styles/variables.module.scss';

.changePasswordInput {
  width: 343px;
  margin-bottom: 32px;

  .formError {
    color: $error_3;
    margin: 8px 0 0 14px;
    font-size: 0.875rem;
  }

  .helperText {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .counterText {
      color: $brand_10;
      font-weight: $normal;
      font-size: 0.875rem;
      margin-top: 8px;
    }
  }
}

.inputContainer {
  display: flex;
  width: 100%;
}

.inputNewPassword {
  margin: 0 48px 84px 0;
}

.buttonsWrapper {
  width: 318px;
  display: flex;
  gap: 32px;

  .button {
    width: 143px;
    height: 48px;
    margin-top: 0;

    &:disabled {
      color: $grayDark_7;
      background-color: $brand_4;
      cursor: not-allowed;
    }
  }
}

.modalText {
  align-self: center;
  padding: 32px 0 40px;
}

.modalIcon {
  align-self: center;
}

.modalCloseButton {
  align-self: flex-end;
}

.header {
  margin-bottom: 36px;

  .headerText {
    font-weight: $normal;
    font-size: 0.875rem;
  }
}
