@import 'src/styles/variables.module.scss';

.step {
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: center;

  & .circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $grayLight_5;
  }

  & .connector {
    width: 100%;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: $grayLight_5;
  }

  .active {
    background-color: $orange;
  }
}
