// Primary colors:
$black: #000000;
$orange: #ffd600;
$orange_1: #e09b3d;
$brand_1: #feda00;
$brand_2: #ffe963;
$brand_3: #f2cb00;
$brand_4: #fff176;
$brand_5: #fff9c4;
$brand_6: #edc700;
$brand_7: #c2a300;
$brand_8: #e3bf00;
$brand_9: #ffd429;
$brand_10: #ffbb33;
$brand_11: #edc702;
$white_1: #ffffff;
$error_1: #ef4b41;
$error_2: #f44336;
$error_3: #f2453d;
$error_4: #e40032;
$red_1: #c8102e;
$grayDark_1: #556170;
$grayDark_2: #828282;
$grayDark_3: #8c8c8c;
$grayDark_4: #adadad;
$grayDark_5: #020303;
$grayDark_6: #212529;
$grayDark_7: #9e9e9e;
$grayDark_8: #616161;
$grayDark_9: #1f1f1f;
$cream_1: #fafafa;
$cream_2: #e6e6e6;
$cream_3: #f2f2f2;
$grayLight_1: #e0e0e0;
$grayLight_2: #d2d2d2;
$grayLight_3: #f9f9f9;
$grayLight_4: #e2e2e2;
$grayLight_5: #eeeeee;
$grayLight_6: #dcdcdc;
$grayLight_7: #f5f5f5;
$grayLight_8: #cccccc;
$grayLight_9: #f0f0f0;
$grayLight_10: #bdbdbd;
$grayLight_11: #e7e7e7;
$grayLight_12: #eaeaea;
$success_1: #6ac631;
$violet_1: #3f3d56;
$violet_2: #2f2e41;
$violet_3: #46467f;
$violet_4: #7024c4;
$fontSize: 16px;
$salmon_1: #ffb6b6;
$blue_1: #043cae;
$blue_2: #012169;
$blue_3: #45aee4;
$blue_4: #2f75ec;
$blue_5: #007ab7;
$blue_6: #2aa3ef;
$blue_7: #00aef3;
$blue_8: #3d5a96;
$green_1: #25d366;
$pink_1: #c21975;
$pink_2: #c74c4d;
$status_approved_text: #ff8a00;
$status_underConsideration_text: #9747ff;
$status_collected_text: #4caf50;
$status_ontheway_text: #1a73e9;
$transparent: rgba(0, 0, 0, 0);
$transparent_2: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
$transparent_3: rgba(130, 168, 188, 0.08);
$transparent_4: rgba(0, 67, 101, 0.08);
$transparent_5: rgba(0, 0, 0, 0.2);
$transparent_6: rgba(0, 0, 0, 0.12);
$transparent_7: rgba(0, 0, 0, 0.14);
$transparent_8: rgba(255, 249, 196, 0.5);
$transparent_9: rgba(242, 69, 61, 0.2);
$transparent_10: rgba(197, 255, 196, 0.5);
$transparent_11: rgba(171, 225, 255, 0.5);
$transparent_12: rgba(123, 97, 255, 0.3);
$transparent_13: rgba(0, 0, 0, 0.05);
$transparent_14: rgba(2, 3, 3, 0.05);
$transparent_15: rgba(0, 0, 0, 0.75);
$transparent_16: rgba(0, 0, 0, 0.6);

// Primary font-weight:
$normal: 400;
$bold: 700;
$extra_bold: 900;

:export {
  orange: $orange;
  orange_1: $orange_1;
  brand_1: $brand_1;
  brand_4: $brand_4;
  brand_5: $brand_5;
  brand_6: $brand_6;
  brand_7: $brand_7;
  brand_8: $brand_8;
  brand_9: $brand_9;
  white_1: $white_1;
  error_1: $error_1;
  error_3: $error_3;
  grayDark_2: $grayDark_2;
  grayDark_6: $grayDark_6;
  grayDark_7: $grayDark_7;
  grayDark_8: $grayDark_8;
  cream_1: $cream_1;
  cream_2: $cream_2;
  cream_3: $cream_3;
  grayLight_8: $grayLight_8;
  grayLight_9: $grayLight_9;
  grayLight_10: $grayLight_10;
  grayLight_11: $grayLight_11;
  grayLight_12: $grayLight_12;
  violet_1: $violet_1;
  violet_2: $violet_2;
  violet_3: $violet_3;
  violet_4: $violet_4;
  salmon_1: $salmon_1;
  blue_1: $blue_1;
  blue_2: $blue_2;
  blue_3: $blue_3;
  blue_4: $blue_4;
  blue_5: $blue_5;
  blue_6: $blue_6;
  blue_7: $blue_7;
  blue_8: $blue_8;
  red_1: $red_1;
  green_1: $green_1;
  pink_1: $pink_1;
  pink_2: $pink_2;
}
