@import 'src/styles/variables.module.scss';

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .header {
    border-bottom: 1px solid $grayLight_5;
  }

  .footer {
    flex: 0 0 auto;
  }
}
