.formPassword {
  position: relative;
  display: block;

  .showPassword {
    position: absolute;
    top: 50%;
    transform: translateY(-35%);
    right: 7px;

    &:hover {
      cursor: pointer;
    }
  }
}
