@import 'src/styles/variables.module.scss';

.footer {
  display: flex;
  box-shadow: 0 0 1px $transparent_13, 0 2px 20px $transparent_14;

  .contacts {
    display: flex;
    width: 50%;

    > div {
      padding-top: 40px;
    }

    .legalAddress {
      width: 40%;
      padding-left: 60px;
      height: 100%;
      display: flex;
      flex-direction: column;

      .title {
        font-weight: $bold;
        font-size: 1rem;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        line-height: 1.5;
      }

      .text {
        font-weight: $normal;
        font-size: 0.75rem;
      }
    }

    .linkStore {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      width: 60%;
      list-style: none;
      gap: 36px;

      .iconFooter {
        width: 152px;
        height: 46px;
        cursor: pointer;
      }
    }
  }
}
