@import 'src/styles/variables.module.scss';

.pagination {
  display: flex;
  flex-direction: row;
  max-width: 806px;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .textPages {
    font-weight: $normal;
    font-size: 12px;
    line-height: 16px;
    color: $grayDark_7;
  }

  .page {
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon {
      cursor: pointer;
    }

    .arrowsRight,
    .arrowsLeft {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
