@import 'src/styles/variables.module.scss';

.lanMain {
  padding: 0 72px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  flex: 1 0 auto;

  .titleWrapper {
    margin-top: 91px;

    .title {
      white-space: pre;
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 72px;
      display: flex;
      align-items: center;
      color: $white_1;
      opacity: 0;
      transform: translateX(200%);
      transition: opacity 0s;
    }

    .subTitle {
      font-style: normal;
      font-weight: $normal;
      font-size: 24px;
      line-height: 36px;
      display: flex;
      align-items: center;
      color: $white_1;
      margin-top: 60px;
      opacity: 0;
      transform: translateX(200%);
      transition: opacity 0s;
    }

    .show {
      opacity: 1;
      transform: translateX(0%);
      transition: all 1s;
    }
  }
}
